<h1><%= @user.email %>'s questions:</h1>

<ul>
  <% @user.questions.each do |question| %>
  <li><%= question.content %> <%= link_to 'Edit Question', edit_user_question_path(@user, question), :class => 'btn btn-warning' %></li>
  <% end %>
</ul>
